# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars.json
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform plans
*.plan

# Local AWS credentials
.aws/

# Docker
docker-compose.override.yml
